<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}"
>
<head>
    <title>Home Page</title>
</head>
<body>
<main class="px-3 container"  layout:fragment="main-content">
    <!--  Welcome to start  -->
    <div th:replace="~{fragments/welcome}"></div>
    <!--  End welcome  -->

    <!--  Card  -->
    <div class="album py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

            <div class="col" th:each="article : ${articles}" th:object="${article}">
                <div
                   th:replace="~{fragments/card::readonly(*{uuid},*{title},*{thumbnail},*{author},*{description})}"
                ></div>
            </div>

        </div>
    </div>
    <!--  End card  -->
</main>
</body>
</html>