<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/nextpage}"
>
<head>
    <title>Blog, Magazine Html Template</title>
</head>
<body>
<main layout:fragment="main-content">
    <div th:replace="~{sections/banner-area}"></div>
    <div th:replace="~{sections/trending}"></div>
    <div th:replace="~{sections/latest}"></div>
    <div th:replace="~{sections/data-grid}"></div>
</main>
</body>
</html>